
@import "../../bower_components/primer-css/scss/primer.scss";
@import "../../bower_components/octicons/build/octicons.min.css";

$project-padding: 15px;

body {
  padding:30px;
}

p.leadsub  {
  font-weight:300;
  color:#555;
  font-size:16px;
}

.detailsub {
  font-weight:bold;
  font-size:16px;
}

.detailsub:not(:first-of-type) {
  margin-top:30px;
}
.about-header {
  margin-top:40px;
  padding-bottom:10px;
  margin-bottom:20px;
  border-bottom:1px solid lighten($gray-light, 30%);
}

.state {
  margin-right:5px;
}

.with-count {
  display:inline;
  float:left;
}

span.counter {
  margin-left:6px;
}

.project-entry:not(:first-of-type) {
  padding-top: $project-padding;
}

.project-entry {
  border-bottom:solid 1px #EEE;
  padding-bottom: $project-padding;

  .note {
    font-size:14px;
  }
}

.extra-info {
  .note {
    color:#666;
  }
  li {
    margin-left:20px;
    color: #666;
  }
}